<div class="angular-schema-form--base64-file" ng-class="{'has-error': form.disableErrorState !== true && hasError(), 'has-success': form.disableSuccessState !== true && hasSuccess(), 'has-feedback': form.feedback !== false}">
    <label class="control-label" ng-hide="form.notitle">{{form.title}}</label>
    <div base64-file-upload="form" sf-field-model schema-validate="form" class="base64-file--drop-area" ng-class="{'file-hovering': dropAreaHover, 'has-file': hasFile}">
        <input type="file" class="base64-file--input" style="visibility:hidden; position:absolute; top:0; left:0;" ng-disabled="hasFile">
        <div class="base64-file--file-preview" ng-show="hasFile">
            <img ng-show="isImage(file)" ng-src="{{file.src}}">
            <div class="base64-file--file">
                <div class="base64-file--file-name">{{file.name}}</div>
                <div class="base64-file--file-size">{{file.humanSize}}</div>
                <div class="base64-file--file-remove" ng-click="removeFile($event)">&#10005</div>
            </div>
        </div>
        <button type="button" ng-hide="hasFile">
            <div  class="base64-file--drop-area-description">{{form.placeholder || dropText}}</div>
        </button>
    </div>
    <span class="help-block" sf-message="form.description"></span>
</div>